div(class="labeled-field")
    label(for="") State:
    if(frame.state)
        input(readOnly, value=frame.state.description)
    else
        input(readOnly, value="NULL")
div(class="labeled-field")
    label(for="") Instrução atual:
    input(readOnly, value=frame.inst_count) 
div(class="labeled-field")
    label(for="") Contador Clocks:
    input(readOnly, value=frame.clock_count)
div(class="labeled-field")
    label(for="") PC:
    input(readOnly, value=frame.PC.value, size="33")
div(class="labeled-field")
    label(for="") MDR:
    input(readOnly, value=frame.MDR.value, size="33")
div(class="labeled-field")
    label(for="") A:
    input(readOnly, value=frame.A.value, size="33")
div(class="labeled-field")
    label(for="") B:
    input(readOnly, value=frame.B.value, size="33")
div(class="labeled-field")
    label(for="") ALUOut:
    input(readOnly, value=frame.aluout.value, size="33")
div(class="labeled-field")
    label(for="") IR:
    input(readOnly, value=frame.IR.value, size="33")