table 
    tr 
        th Sinal 
        th Valor
        th Sinal 
        th Valor
    tr 
        th PCWriteCond
        td #{frame.ctrl.PcWriteCond}
        th PCWrite
        td #{frame.ctrl.PcWrite}
    tr 
        th IorD
        td #{frame.ctrl.IorD}
        th MemRead
        td #{frame.ctrl.MemRead}
    tr 
        th MemToReg
        td #{frame.ctrl.MemToReg}
        th IRWrite
        td #{frame.ctrl.IRWrite}
    tr 
        th CauseWrite
        td #{frame.ctrl.CauseWrite}
        th IntCause
        td #{frame.ctrl.IntCause}
    tr 
        th EPCWrite
        td #{frame.ctrl.EPCWrite}
        th PCSource
        td #{frame.ctrl.PCSource}
    tr 
        th ALUOp
        td #{frame.ctrl.ALUOp}
        th ALUSrcB
        td #{frame.ctrl.ALUSrcB}
    tr 
        th ALUSrcA
        td #{frame.ctrl.ALUSrcA}
        th RegWrite
        td #{frame.ctrl.RegWrite}
    tr 
        th RegDst
        td #{frame.ctrl.RegDst}
    
