table
    tr
        th Reg
        th Valor
        th Reg
        th Valor
    tr
        th $zero
        td #{frame.regs.$Ze}
        th $at
        td #{frame.regs.$at}
    tr
        th $v0
        td #{frame.regs.$v0}
        th $v1
        td #{frame.regs.$v1}
    tr
        th $a0
        td #{frame.regs.$a0}
        th $a1
        td #{frame.regs.$a1}
    tr
        th $a2
        td #{frame.regs.$a2}
        th $a3
        td #{frame.regs.$a3}
    tr
        th $t0
        td #{frame.regs.$t0}
        th $t1
        td #{frame.regs.$t1}
    tr
        th $t2
        td #{frame.regs.$t2}
        th $t3
        td #{frame.regs.$t3}
    tr
        th $t4
        td #{frame.regs.$t4}
        th $t5
        td #{frame.regs.$t5}
    tr
        th $t6
        td #{frame.regs.$t6}
        th $t7
        td #{frame.regs.$t7}
    tr
        th $s0
        td #{frame.regs.$s0}
        th $s1
        td #{frame.regs.$s1}
    tr
        th $s2
        td #{frame.regs.$s2}
        th $s3
        td #{frame.regs.$s3}
    tr
        th $s4
        td #{frame.regs.$s4}
        th $s5
        td #{frame.regs.$s5}
    tr
        th $s6
        td #{frame.regs.$s6}
        th $s7
        td #{frame.regs.$s7}
    tr
        th $t8
        td #{frame.regs.$t8}
        th $t9
        td #{frame.regs.$t9}
    tr
        th $k0
        td #{frame.regs.$k0}
        th $k1
        td #{frame.regs.$k1}
    tr
        th $gp
        td #{frame.regs.$Ze}
        th $sp
        td #{frame.regs.$Ze}
    tr
        th $fp
        td #{frame.regs.$fp}
        th $ra
        td #{frame.regs.$ra}